.barreDeRecherche {
    width: 100%; /* La barre de recherche occupe toute la largeur */
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btnRechercher {
    width: 100%; /* Le bouton occupe toute la largeur */
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

/* Ajustement de la largeur de la boîte des suggestions */
.suggestions-container {
    width: 100%;
    max-height: 200px;
    overflow-x: auto;
}

/* Vous pouvez ajouter d'autres styles selon vos besoins */

