.img1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: -1;
    margin-top: 6vw;
    margin-left: -39vw;
}

.col-sx-12 h1{
    margin-top: -23vw;
    margin-left: 70vw;
}

@media screen and (max-width: 600px) {


    .img1{
        margin-right: -40vw;
    }

}
